footer {
  background: white;
  .icons-social-media.small-icons .iconify {
    font-size: 1.8rem;
  }
  .icons-social-media {
    text-align: center;
    a {
      @extend .mr-3;
      color: #888888;
      &:hover {
        text-decoration: none;
        color: #5e5e5e;
      }
      &:last-child {
        margin: 0;
      }
      .iconify {
        font-size: 2.2rem;
        @include media-breakpoint-down(sm) {
          font-size: 2.1rem;
        }
      }
    }
  }
  h6 {
    font-size: 1.23rem;
    line-height: 1.2;
    font-weight: 600!important;
    text-transform: uppercase;
    color: #666666;
  }
  ul li a {
    color: #888888;
    &:hover {
      text-decoration: none;
      color: #444444;
    }
  }
  img.logo-pagamento {
    width: 110px;
  }
  img.logos-pagamento {
    width: 135px;
  }
  .info-empresa {
    p {
      color: #909090;
      margin: 0;
      line-height: initial;
    }
    strong {
      color: #717171;
      display: block;
      font-weight: 600;
      font-size: 1.03rem;
    }
    img {
      width: 140px;
    }
  }
}
