.section-newsletter {
  background-color: #5DC3E3;
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
  h5 {
    line-height: 1;
    font-weight: bold;
    color: white;
    @include media-breakpoint-down(sm) {
      font-size: 2.1rem;
      line-height: 1.1;
    }
  }

  // Border radius input
  .input-group > .form-control {
    @include media-breakpoint-down(sm) {
      border-top-left-radius: 0.3rem!important;
      border-bottom-left-radius: 0.3rem!important;
    }
  }

  // Form
  input {
    outline: none;
    border-color: white!important;
    &::placeholder {color: #C3C3C3;opacity: 1}
    &:-ms-input-placeholder {color: #C3C3C3}
    &::-ms-input-placeholder {color: #C3C3C3}
    &:focus { box-shadow: none!important; }
    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
    }
  }
  .btn-purple {
    padding: 0.45rem 1rem 0.55rem 1rem!important;
    font-weight: 300!important;
    border-color: transparent!important;
    @include media-breakpoint-down(sm) {
      font-size: 1rem!important;
    }
  }
}
