[data-page="pagamento"] {
  form {
    .alert .iconify {
      font-size: 2rem;
      color: #9c9c9c;
    }
    .iconify.icon-user {
      font-size: 4rem;
      color: #9c9c9c;
    }
  }

  // Loader no campo de email
  .loader-input {
    position: absolute;
    margin-bottom: 0;
    line-height: 1.6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1px;
    right: 2px;
    width: 38px;
    height: calc(1.5em + 0.75rem);
    background: white;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .credit-card-wrapper {
    position: relative;
    @include media-breakpoint-up(md) {
      max-width: 520px;
      margin: 4.55rem auto auto auto;
    }
  }

  .credit-card {
    border-radius: 8px;
    background: #efefef;
    border: 1px solid #dedede;
    z-index: 1;
    position: relative;
    @include media-breakpoint-up(md) {
      width: 400px;
      min-height: 210px;
    }

    .callback-bandeira {
      width: 100%;
      max-width: 50px;
      margin-top: 2rem;
      height: calc(1.5em + 0.75rem + 2px);
      background-color: #dbdbdb;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 3px;

      &.visa {
        background-color: transparent;
        background-image: url('../../images/pagamento/visa.svg');
      }

      &.mastercard, &.master, {
        background-color: transparent;
        background-image: url('../../images/pagamento/mastercard.svg');
      }

      &.amex, &.american-express {
        background-color: transparent;
        background-image: url('../../images/pagamento/amex.svg');
      }

      &.hipercard {
        background-color: transparent;
        background-image: url("../../images/pagamento/hipercard.svg");
      }

      &.elo {
        background-color: transparent;
        background-image: url('../../images/pagamento/elo.svg');
      }
    }

    select#mes_cartao {
      @include media-breakpoint-up(md) {
        width: 60px;
      }
    }
    select#ano_cartao {
      @include media-breakpoint-up(md) {
        width: 82px;
      }
    }
  }

  // Cartao secundario
  .credit-card.card-2 {
    position: absolute;
    top: -2.3rem;
    right: 0;
    z-index: 0;
    @include media-breakpoint-up(md) {
      height: 210px; // Fix IE
    }
    &:before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      top: 30px;
      height: 43px;
      background: #dbdbdb;
    }
  }

  // Bandeira dos cartoes aceitos
  img.cartoes {
    width: 230px;
  }

  // botao de pagar
  .btn-pay {
    padding: 0.8rem 1.5rem;
  }
}

.section-payment {
  .iconify.text-warning {
    font-size: 4rem;
  }
  .emoji .iconify {
    font-size: 3rem;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
