.wrapper-pesquisa {
  position: relative;
  background-color: $purple;
  background-size: 80%;
  background-position: center;
  background-repeat: repeat-x;
  height: 156px;
  @include media-breakpoint-down(sm) {
    background-size: cover;
  }
  @include media-breakpoint-up(xxl) {
    height: 166px;
  }
  h1 {
    color: white;
    line-height: 0.98;
    font-size: 2.7rem;
    margin: 0;
    z-index: 1;
    span {
      color: $blue;
    }
  }
}
