@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Lightitalic.eot');
    src: url('Migrena_Grotesque-Lightitalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Lightitalic.woff2') format('woff2'),
        url('Migrena_Grotesque-Lightitalic.woff') format('woff'),
        url('Migrena_Grotesque-Lightitalic.ttf') format('truetype'),
        url('Migrena_Grotesque-Lightitalic.svg#Migrena_Grotesque-Lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Semibold.eot');
    src: url('Migrena_Grotesque-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Semibold.woff2') format('woff2'),
        url('Migrena_Grotesque-Semibold.woff') format('woff'),
        url('Migrena_Grotesque-Semibold.ttf') format('truetype'),
        url('Migrena_Grotesque-Semibold.svg#Migrena_Grotesque-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Light.eot');
    src: url('Migrena_Grotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Light.woff2') format('woff2'),
        url('Migrena_Grotesque-Light.woff') format('woff'),
        url('Migrena_Grotesque-Light.ttf') format('truetype'),
        url('Migrena_Grotesque-Light.svg#Migrena_Grotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Mediumitalic.eot');
    src: url('Migrena_Grotesque-Mediumitalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Mediumitalic.woff2') format('woff2'),
        url('Migrena_Grotesque-Mediumitalic.woff') format('woff'),
        url('Migrena_Grotesque-Mediumitalic.ttf') format('truetype'),
        url('Migrena_Grotesque-Mediumitalic.svg#Migrena_Grotesque-Mediumitalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-ExtraLightitalic.eot');
    src: url('Migrena_Grotesque-ExtraLightitalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-ExtraLightitalic.woff2') format('woff2'),
        url('Migrena_Grotesque-ExtraLightitalic.woff') format('woff'),
        url('Migrena_Grotesque-ExtraLightitalic.ttf') format('truetype'),
        url('Migrena_Grotesque-ExtraLightitalic.svg#Migrena_Grotesque-ExtraLightitalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Black.eot');
    src: url('Migrena_Grotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Black.woff2') format('woff2'),
        url('Migrena_Grotesque-Black.woff') format('woff'),
        url('Migrena_Grotesque-Black.ttf') format('truetype'),
        url('Migrena_Grotesque-Black.svg#Migrena_Grotesque-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Medium.eot');
    src: url('Migrena_Grotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Medium.woff2') format('woff2'),
        url('Migrena_Grotesque-Medium.woff') format('woff'),
        url('Migrena_Grotesque-Medium.ttf') format('truetype'),
        url('Migrena_Grotesque-Medium.svg#Migrena_Grotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-UltraLightitalic.eot');
    src: url('Migrena_Grotesque-UltraLightitalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-UltraLightitalic.woff2') format('woff2'),
        url('Migrena_Grotesque-UltraLightitalic.woff') format('woff'),
        url('Migrena_Grotesque-UltraLightitalic.ttf') format('truetype'),
        url('Migrena_Grotesque-UltraLightitalic.svg#Migrena_Grotesque-UltraLightitalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Bolditalic.eot');
    src: url('Migrena_Grotesque-Bolditalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Bolditalic.woff2') format('woff2'),
        url('Migrena_Grotesque-Bolditalic.woff') format('woff'),
        url('Migrena_Grotesque-Bolditalic.ttf') format('truetype'),
        url('Migrena_Grotesque-Bolditalic.svg#Migrena_Grotesque-Bolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-ExtraLight.eot');
    src: url('Migrena_Grotesque-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-ExtraLight.woff2') format('woff2'),
        url('Migrena_Grotesque-ExtraLight.woff') format('woff'),
        url('Migrena_Grotesque-ExtraLight.ttf') format('truetype'),
        url('Migrena_Grotesque-ExtraLight.svg#Migrena_Grotesque-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Semibolditalic.eot');
    src: url('Migrena_Grotesque-Semibolditalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Semibolditalic.woff2') format('woff2'),
        url('Migrena_Grotesque-Semibolditalic.woff') format('woff'),
        url('Migrena_Grotesque-Semibolditalic.ttf') format('truetype'),
        url('Migrena_Grotesque-Semibolditalic.svg#Migrena_Grotesque-Semibolditalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Thin.eot');
    src: url('Migrena_Grotesque-Thin.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Thin.woff2') format('woff2'),
        url('Migrena_Grotesque-Thin.woff') format('woff'),
        url('Migrena_Grotesque-Thin.ttf') format('truetype'),
        url('Migrena_Grotesque-Thin.svg#Migrena_Grotesque-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Regular.eot');
    src: url('Migrena_Grotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Regular.woff2') format('woff2'),
        url('Migrena_Grotesque-Regular.woff') format('woff'),
        url('Migrena_Grotesque-Regular.ttf') format('truetype'),
        url('Migrena_Grotesque-Regular.svg#Migrena_Grotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Bold.eot');
    src: url('Migrena_Grotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Bold.woff2') format('woff2'),
        url('Migrena_Grotesque-Bold.woff') format('woff'),
        url('Migrena_Grotesque-Bold.ttf') format('truetype'),
        url('Migrena_Grotesque-Bold.svg#Migrena_Grotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Thinitalic.eot');
    src: url('Migrena_Grotesque-Thinitalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Thinitalic.woff2') format('woff2'),
        url('Migrena_Grotesque-Thinitalic.woff') format('woff'),
        url('Migrena_Grotesque-Thinitalic.ttf') format('truetype'),
        url('Migrena_Grotesque-Thinitalic.svg#Migrena_Grotesque-Thinitalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Italic.eot');
    src: url('Migrena_Grotesque-Italic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Italic.woff2') format('woff2'),
        url('Migrena_Grotesque-Italic.woff') format('woff'),
        url('Migrena_Grotesque-Italic.ttf') format('truetype'),
        url('Migrena_Grotesque-Italic.svg#Migrena_Grotesque-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-UltraLight.eot');
    src: url('Migrena_Grotesque-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-UltraLight.woff2') format('woff2'),
        url('Migrena_Grotesque-UltraLight.woff') format('woff'),
        url('Migrena_Grotesque-UltraLight.ttf') format('truetype'),
        url('Migrena_Grotesque-UltraLight.svg#Migrena_Grotesque-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('Migrena_Grotesque-Blackitalic.eot');
    src: url('Migrena_Grotesque-Blackitalic.eot?#iefix') format('embedded-opentype'),
        url('Migrena_Grotesque-Blackitalic.woff2') format('woff2'),
        url('Migrena_Grotesque-Blackitalic.woff') format('woff'),
        url('Migrena_Grotesque-Blackitalic.ttf') format('truetype'),
        url('Migrena_Grotesque-Blackitalic.svg#Migrena_Grotesque-Blackitalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

