/*******************************
**** Variables ****
********************************/
$font-family-sans-serif: "Migrena_Grotesque", sans-serif;
$body-color: #4E4E4E;

/* Cores */
$purple: #8b45a8;
$blue: #5dc3e3;
$yellow: #f8c433;
$orange: #e84e1b;
$grey: #f3f3f3;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px,
    xxl: 1590px
) !default;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
    xxl: 1500px,
) !default;

//$grid-breakpoints: (
//    xs: 0,
//    sm: 576px,
//    md: 768px,
//    lg: 992px,
//    xl: 1280px,
//    xxl: 1590px
//) !default;
//
//$container-max-widths: (
//    sm: 540px,
//    md: 720px,
//    lg: 960px,
//    xl: 1200px,
//    xxl: 1500px,
//) !default;

.font-secondary {
  font-family: "Migrena_Grotesque", sans-serif;
}

.bg-grey {
  background: $grey;
}

.text-blue {
  color: $blue;
}

.text-orange {
  color: #E84E1B;
}

.text-yellow {
  color: $yellow;
}
