@charset "UTF-8";

body {
  width: 700px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-row-group;
}

tr {
  page-break-inside: avoid;
}

.clr:after {
  content: " ";
  clear: both;
  display: block;
}

.border {
  border-top: 1px dashed black;
  margin: 34px 0 18px 0;
}

.image-instructions {
  width: 700px;
  margin: 20px 0;
}

#print-btn {
  cursor: pointer;
  display: block;
  padding: 20px 40px;
  margin: 0 auto 20px;
  font-size: 16px;
  text-transform: uppercase;
  background: darken(yellow, 8%);
  border: none;
}

@media print {
  .image-instructions, #print-btn {
    display: none;
  }
}

.ticket {
  margin: auto;
  border-radius: 20px;
  border: 2px solid #666;
  overflow: hidden;
  font-size: 12px;
  display: table;

  .cell {
    display: inline-block;
  }

  .left {
    width: 35%;
    padding: 15px;
    border-right: 1px dashed #666;
    text-align: left;
    display: table-cell;
    vertical-align: middle;

    .logo {
      img {
        float: left;
        //width: 60%;
        height: 40px;
        margin-left: -8px;
      }

      .qr {
        width: 20%;
        float: right;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }

    .buyer {
      margin: 10px 0;
    }

    .info {
      margin-bottom: 10px;
      border-bottom: 1px solid #000;
      padding-bottom: 10px;
    }

    .code {
      text-align: center;

      .date {
        float: left;
        padding: 20px 0;
        text-align: left;
      }

      .clr {
        padding-top: 5px;
      }

      .bar {
        //float: right;
        //width: 50%;
        text-align: center;

        .lines {
          height: 50px;
          overflow: hidden;
        }

        span {
          z-index: 999;
          position: relative;
        }

        img {
          margin: 5px auto 8px auto;
          display: block;
        }
      }
    }
  }

  .right {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;

    .top {
      border-bottom: 1px solid #000;
      padding-bottom: 10px;
      min-width: 430px;

      .info {
        float: left;
        width: 80%;
      }

      .qr {
        float: right;
      }
    }

    .code-row {
      border-bottom: 1px solid #000;
      padding: 5px 0;

      .desc {
        float: left;
        width: 50%;
        padding: 5px 0;
        p {
          margin: 0 0 5px 0;
        }
        strong {
          font-size: 14px;
          display: block;
        }
      }

      .code {
        text-align: left;
        width: 48%;
        float: right;

        .date {
          padding: 10px 0;
          display: inline-block;
          width: 50%;

          strong {
            font-size: 20px;
          }
        }

        .clr {
          padding-top: 5px;
        }

        .bar {
          width: 30%;
          display: inline-block;
          float: right;

          .lines {
            height: 50px;
            overflow: hidden;
          }

          span {
            z-index: 999;
            position: relative;
          }

          img {
            margin: 10px auto auto;
            width: auto;
            display: block;
            height: 40px;
          }
        }
      }
    }

    .buyer {
      padding: 10px 0;

      .infos {
        float: left;
      }

      .line-code {
        float: right;
        width: 134px;
        text-align: center;
        span {
          display: block;
        }
      }
    }

    .obs {
      background: #ddd;
      border-top: 1px solid #000;

      .obs1, .obs2 {
        padding: 8px 5px;
      }
    }

    h2, h3 {
      margin: 0 0 5px;
      font-size: 18px;
      padding: 0;
    }

    .declaration {
      padding-top: 10px;
      border-top: 1px solid #000;
      line-height: 22px;
    }
  }
}

.politicas {
  font-size: 11px;
  .left {
    float: left;
    display: inline-block;
    width: 50%;
    padding-right: 25px;
    ul:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .right {
    float: left;
    display: inline-block;
    width: 45%;
    ul:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .full-width {
    width: 100% !important;
    float: none!important;
    ul:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
