.table-servicos-mais-vendidos {
  tr td:first-child {
    padding: 0.85rem 0.40rem;
    text-align: center;
    img {
      height: auto;
      width: 18px;
    }
  }
  .ghost {
    width: 100%;
    padding: 5px;
    background: #dcdcdc;
  }
}

table.ultimas-vendas {
  tbody tr td {
    padding: 1.2rem 0.85rem;
  }
}

.chart-vendas {
  height: 330px;
  padding-top: 10px;
}
