[data-page='recupera-senha'] {
  .logo-centered, img {
    width: 220px!important;
  }
  img {
    margin-bottom: 25px;
  }
  .alert-success {
    margin-top: -15px;
  }
  .password-form h3 {
    margin-bottom: 40px;
  }
}